# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: sdummett <sdummett@student.42.fr>          +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2021/09/29 21:30:31 by sdummett          #+#    #+#              #
#    Updated: 2021/11/25 16:51:20 by nammari          ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

minishell
*.o
*.a
infile
outfile
bidule
.vscode
a.out.dYSM
a.out
*.txt
file*
vgcore.*
